@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url("./assets/fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSemi";
  src: local("NunitoSemi"),
    url("./assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoMedium";
  src: local("NunitoMedium"),
    url("./assets/fonts/Nunito-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoBold";
  src: local("NunitoBold"),
    url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoExtra";
  src: local("NunitoExtra"),
    url("./assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "DMserif";
  src: local("DMserif"), url("./assets/fonts/DMserif.ttf") format("truetype");
}

/* Add this to your styles or Tailwind CSS configuration */
.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(6, 49, 58, 0.9),
    rgba(6, 49, 58, 0.4)
  ); 
}
.nunito {
  font-family: "Nunito";
}
.nunitoMedium {
  font-family: "NunitoMedium";
}
.nunitoSemi {
  font-family: "NunitoSemi";
}
.nunitoBold {
  font-family: "NunitoBold";
}
.nunitoExtra {
  font-family: "NunitoExtra";
}
.dmSerif {
  font-family: "DMserif";
}


.signbut {
  background-color: #1a81c5;
  box-shadow: 0 3px 5px 0 rgba(90, 39, 179, 0.3);
  border-radius: 5px 5px 5px 0px;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #1a81c5;
}
.signbut:hover {
  background-color: #423c8c;
  border: 1px solid #1a81c5;
}
p.linking:hover {
  color: #0056b3;
}

.carouselContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 40%;
  margin-left: 200px;
}
.carouselHeader {
  font-size: 51px;
  font-weight: 300;
  margin-bottom: 8px;
  padding-bottom: 19px;
  line-height: 1.2;
  color: #fff;
}
.carouselBody {
  margin-bottom: 16px;
  padding-bottom: 35px;
  font-size: 21px;
  text-align: left;
  color: #fff;
}
.carouselButton {
  background-color: #1a81c5;
  box-shadow: 0 3px 5px 0 rgba(90, 39, 179, 0.3);
  border-radius: 5px 5px 5px 0px;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #1a81c5;
}
.carouselButton:hover {
  background-color: #423c8c;
  border: 1px solid #1a81c5;
}

.mobileSign {
  display: none;
}
/* Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar.scrolled {
  box-shadow: 0 0 25px 0 rgba(90, 39, 179, 0.3);
  background-color: #fff; 
}

.navbar-container {
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}


.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.linking {
  margin-right: 30px;
}

.scrolled .linking {
  color: #3c4858;
  font-weight: 500;
}

.mobile-menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.scrolled .bar{
  background-color: #1a81c5;
}
.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -6px);
}






.second-section{
  width:100%;
  overflow: hidden;
}
.second-section-text{
  width:40%;
  
}
.section-text-crumb{
  color:#1a81c5;
  font-size:16px;
  margin-bottom:12px;

}
.section-text-header{
  color:#000;
  font-size:42px;
  font-weight:700;
  line-height:60px;
  margin-bottom:12px;

}
.section-text-content{
  color:#3c4858;
  font-size:19px;
  font-weight:600;
  line-height:30px;
  margin-bottom:32px;
}
.second-section-image{
  width:40%;
  
}
.section-wrapper{
  padding-block:90px
}


@media only screen and (max-width: 600px) {
  .carouselContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  .carouselHeader {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 8px;
    padding-bottom: 10px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
  }
  .carouselBody {
    margin-bottom: 8px;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  
}

@media screen and (min-width: 601px) {
  .carouselContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    margin-left: 100px;
  }
  .carouselHeader {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 8px;
    padding-bottom: 15px;
    line-height: 1.2;
    color: #fff;
  }
  .carouselBody {
    margin-bottom: 13px;
    padding-bottom: 30px;
    font-size: 18px;
    text-align: left;
    color: #fff;
  }
}
@media screen and (min-width: 950px) {
  .carouselContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    margin-left: 200px;
  }
  .carouselHeader {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 8px;
    padding-bottom: 15px;
    line-height: 1.2;
    color: #fff;
  }
  .carouselBody {
    margin-bottom: 16px;
    padding-bottom: 39px;
    font-size: 21px;
    text-align: left;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 60px; /* Adjust this based on your design */
    left: 0;
    background-color: #fff; /* Change this to your desired background color for mobile */
    z-index: 999;
    transform: translateY(-100%);
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
      transform 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(90, 39, 179, 0.3);
      
  }
  .linking {
    color:#3c4858;
    font-weight:500;
    padding-block:10px
  }


  .nav-links.show-mobile {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .mobile-menu-icon {
    display: flex;
  }
  .mobileSign {
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

  }
  .deskSign {
    display: none;
  }
  .section-wrapper{
    display:flex;
    flex-direction:column;
   }
   .second-section-text{
    width:80%

   }
   .second-section-image{
    width:80%

   }
}
@media screen and (min-width: 769px) and (max-width: 844px) {
  .navbar-container {
    width: 85%;
  }
  .deskSign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .signbut {
    width: 90px;
  }
  
  .section-text-header{
    font-size:32px
  }
  .section-text-content{
    font-size:15px
  }
}
